 body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    //overflow: hidden;
  }
  .content {    
    --background: url('../../assets/image/10147979720051.jpg') no-repeat center center / cover;
    align-content: center;
    display: block;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    --background-repeat: no-repeat;
    max-height: 100%
  }  
  ion-card.card {
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 385px;
    width: 90%;
    height: auto;
    padding: 20px 10px;
    transition: 0.6s ease-in;
    background-color: rgba($color: #ffffff, $alpha: 1.0);
  }
  ion-item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-weight: 300px;
    margin-bottom: 20px;
    padding: 0;
    --highlight-color-focused: none;
    --border-color: #662d91 !important;
    --border: 10px solid #662d91;    
  }
  ion-item ion-label {
    color: #662d91 !important;
    letter-spacing: 0.6px;
    outline: 0;
    font-size: 15px;
  }
  ion-item ion-input {
    outline: 0;
    padding: 0px 0px;
    color: #333;
    font-size: 19px;
    outline: none;
    display: flex;
    //flex: 100%;  
  }
  ion-item ion-input:focus {
    box-shadow: 0 10px 0 rgba(102, 45, 145, 0.6);
    
  }  
  ion-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    margin: 15px 0;        
  }  
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
    width: 100%;
    height: auto;
    margin-top: 50px;
  }
  .itemcolor{
    --background: rgba($color: #ffffff, $alpha: 0.7) 
  }
  
