:root {
    --ion-color-orange: #ff8d00;
    --ion-color-orange-rgb: 255,141,0;
    --ion-color-orange-contrast: #000000;
    --ion-color-orange-contrast-rgb: 0,0,0;
    --ion-color-orange-shade: #e07c00;
    --ion-color-orange-tint: #ff981a;
  }